<div class="col-md-5">
  <div class="card">
    <div class="card-header">
      <h1>管理者編集</h1>
    </div>
    <%= render "form", operator: @operator, url: admin_operator_path(@operator) %>
  </div>
</div>
