<div class="col-md-5">
  <div class="card">
    <div class="card-header">
      <h3>ファイルアップロード</h3>
    </div>
    <%= render "form", article_file: @article_file, url: admin_article_files_path %>
  </div>
</div>
