<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h1>カテゴリー編集</h1>
    </div>
    <%= render "form", category: @category, url: admin_category_path(@category) %>
  </div>
</div>
