header.navbar.navbar-expand-md.bg-dark
  i.navbar-brand.cil-house.text-white
    |  News_app

  ul.navbar-nav.ml-auto
    - if logged_in?
      li.nav-item = link_to "#{current_operator.email}さん", admin_operator_path(current_operator), class: "text-white nav-link"
      li.nav-item = link_to "ログアウト", admin_logout_path, method: :delete, class: "text-white nav-link"
